POSTGRES_DB=uptime_monitor
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
APP_PORT=8080
MONITORING_WORKER_THREADS=4
MONITORING_QUEUE_CAPACITY=100
MONITORING_SCHEDULER_DELAY_MS=10000
MONITORING_CONNECT_TIMEOUT_MS=5000
MONITORING_READ_TIMEOUT_MS=5000
MONITORING_RETENTION_DAYS=30
MONITORING_RETENTION_CLEANUP_DELAY_MS=86400000
MONITORING_ALLOW_PRIVATE_TARGETS=false
